
  

  body {
        background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

/*body {
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/
.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: 1000px;
    background: blue;
    display: grid;
    grid-template-columns: 1fr 2fr ;
}

.container .left {
    position: relative;
    background: darkblue;
    padding: 40px;
}

.profile {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid;
}
.profile .img {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 20%;
    overflow: hidden;

}

.profile .img img {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;


}

.profile h2 {
    color: white;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;

}

.contact {
    padding-top: 40px;
}

.title {
    color: white;

}

.contact ul li {
    position: relative;
    margin: 10px 0;
}

.contact ul li .icon {
    display: inline-block;
    font-size: 18px;
    color: lightblue;
}

.contact ul li span {
    color: white;
    

}

.education li {
    margin-bottom: 15px;

}

.education h5 {
    color: lightblue;

}

.education h4 {
    color: white;
}

.laguage ul li span {

    color: white;
}

.about {
    margin-bottom: 50px;
}

.title2 {
    color: darkblue;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p {
     color: darkblue;
}

.skill {
    color: darkblue;
    font-size: 18px;
}


.container .right {
    position: relative;
    background: yellow;
    padding: 40px;
}

.title3 {
    color: darkblue;
    margin-bottom: 10px;

}


